<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create/Edit Map Page</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/edit.js"></script>
  </head>
  <body data-id=<%= id %>>
     <nav id="nav-bar">
      <% include ./partials/_navbar.html %>
    </nav>
    <main class="container">
        <section id="create-edit-map">
        <article >
          <header>
           <h1> Favorite Restaurants in Vancouver </h1>
           <span> @Vancouver, BC </span>
           </header>
             <div> Map Image </div>
           <footer>
             <span> Created 10 days ago by Shannon </span>
           </footer>
            <form method="POST" action="/maps/<%=id%>?_method=PUT">
              <input value="<%=title%>" name= title> </input>
              <br>
            <button class="btn btn-info" type="submit">Click here to Update Map w/ Changes</button>
            </form>


            <form method="POST" action="/maps/<%=id%>/pins">
              <h4> Title </h4>
              <input value="" name= title> </input>
              <br>
              <h4> Description </h4>
              <input value="" name= description> </input>
              <br>
              <h4> Latitude </h4>
              <input value="" name= latitude> </input>
              <br>
              <h4> Longitude </h4>
              <input value="" name= longitude> </input>
              <br>
            <button class="btn btn-info" type="submit">Click here to create new pin</button>
            </form>


            <form method="POST" action="/maps/<%=id%>?_method=DELETE">
            <button class="btn btn-warning" type="submit">Click here to Delete Map</button>
            </form>
        </article>
        <article id="article-edit">
          <div id='map-edit'></div>

        </article>



        </section>
    </main>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYZBReykBLqLSONyWSUWycT_1csuRjJyY&region=CA">
    </script>
  </body>
</html>
