<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Map.it</span>
      <img class="submitButton" src="images/button.png"></img>
    </nav>
    <form method="POST" action = '/logout'>
      <input class="logout-button" type="submit" value="Logout">
    </form>
    <main class="container">
        <section id="user-info">
        <% for (user of users) { %>
        <article>
           <span> Profile Picture</span>
           <h1> <%= user.name %> </h1>
             <div>
              <h4> Location </h4>
              <h4> # of maps </h4>
              <h4> Fav maps </h4>
             </div>
         </article>
         <% } %>
        </section>
        <section id="user-maps">
          <article class="map">
            <header>
             <h1> Favorite Restaurants in Vancouver </h1>
             <span> @Vancouver, BC </span>
            </header>
               <div> Map Image </div>
            <footer>
               <span> Created 10 days ago by Shannon </span>
               </span>
            </footer>
            <form method="POST" action="/maps/<%=id%>?_method=PUT">
              <input value="<%=profile_picture%>" name= profile-picture> </input>
              <br>
              <input value="<%=username%>" name= username> </input>
              <br>
              <input value="<%=location%>" name= location> </input>
              <br>
              <input value="<%=total-maps%>" name= total-maps> </input>
              <input value="<%=fav-maps%>" name= fav-maps> </input>
              <button type="submit">Click here to Update Profile w/ Changes</button>
            </form>
          </article>
        </section>
    </main>
  </body>
</html>
